@using MyAPIFortune.Models;
@model WelcomeVM;

<div>
    <p>
        <img src="~/img/myapifortune.png" /><br/>
        Version: @Model.AppVersion <br />
        <b>Welcome Visitor!</b> <br /> This is a simple API that returns a funny API themed fortune. 
        <br/> <hr />
        <br /> Your Fortune is: <br /><br />
        <strong><i>@Model.RandomFortune</i></strong>
        <br/><br />
        <hr />
        Check out the Swagger <i> <a href="/swagger/">API Documentation and see dice API too!</a> </i><br />
        Developed by: <strong>Steve Sparks</strong> <br />
        Source on <a href="https://github.com/StevenSSparks/MyAPIFortune">GitHub</a>   <br />
    </p>     
</div>