

@*
    model AdventureServer.Models.WelcomeVM;
*@
@{
}
<div>
    <p>
        <img src="~/img/myapifortune.png" /><br/>
        Version: @Model.AppVersion <br /><br />
        <b>Welcome Visitor!: </b> This is a simple API that returns a funny API themed fortune. 
        <br/> 
        <br/>
        Check out the <i> <a href="/swagger/">API Documentation</a> </i>
        <br />
        <br />
        Developed by: <strong>Steve Sparks</strong> <br />
        Source on GitHub:  <br />
    </p>     
</div>